body {
	background-color: gray;
	font-family: Verdana;
	font-size: 15px;
	color: white;
}

table, td, th {
	border: 2px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	padding: 10px;
}

th {
	background-color: #4CAF50;
}

p {
	text-align: center;
	color: #4CAF50;
}

.bookList {
	text-align: center;
	width: 50%;
	padding: 0;
	border: 5px solid white;
	margin: 0 auto;
}

.buttons {
	width: 300px;
	padding: 10px 45px;
	margin: 20px 0 20px;
	background-color: #4CAF50;
	border: 2px solid white;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	background-color: #4CAF50;
}

.addButtonDiv {
	text-align: center;
	margin: auto;
}

.h1 {
	text-align: center;
	color: black;
	text-decoration: overline;
}